# Windows system files 
Thumbs.db 
ehthumbs.db 
desktop.ini 
# Editor files 
.vscode/ 
# Temporary files 
*.tmp 
*.log 
GROUP 1 ICT LAB/Images/Group 5.png
/GROUP 1 ICT LAB
/GROUP 1 ICT LAB/Images
/GROUP 1 ICT LAB/Images
/GROUP 1 ICT LAB
/GROUP 1 ICT LAB
/GROUP 1 ICT LAB/Images
/GROUP 1 ICT LAB
