# Windows system files 
Thumbs.db 
ehthumbs.db 
desktop.ini 
# Editor files 
.vscode/ 
# Temporary files 
*.tmp 
*.log 



# personal files

/GROUP 1 ICT LAB
/ICT I CAN TEACH
/ICT LAB ROBLOX WEB
/ICT LAB WEB COMPILATION
/IT-112 iLS
/TUP ICT LEC
/iLS
/usbwebserver